* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  width: 1200px;
  max-width: 95%;
  margin: 20px auto;
}
button {
  padding: 20px 16px;
  border-radius: 10px 0;
  border: 0;
  font-size: 30px;
  cursor: pointer;
}
#hero {
  width: 1200px;
  max-width: 95%;
}
#div {
  display: flex;
  font-size: 30px;
  gap: 30px;
}
h1 {
  cursor: pointer;
}
#p{
    font-size: 90px;
}